<div>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-laser-cannon></app-laser-cannon>
</div>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>			

	
