<div>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-turret></app-turret>
	<app-laser-cannon></app-laser-cannon>
</div>